.emptyButton{
    -fx-text-fill: transparent;
    /*-fx-font-size: 0;*/
}

.usedXButton{
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: blue;
}

.usedOButton{
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: red;
}