.emptyButton{
    -fx-text-fill: transparent;
    -fx-background-color: black;
}

.usedXButton{
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: blue;
}

.usedOButton{
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: red;
}

.root{
    -fx-background-color: green;
}
