.emptyButton{
    -fx-text-fill: transparent;
}

.usedXButton{
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: blue;
}

.usedOButton{
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: red;
}

.root {
    -fx-background-color: black;
}

.label{
    -fx-text-fill: white;
}